spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: admin_password
  flyway:
    locations: classpath:db/migration,classpath:db/local
    clean-disabled: false
  security:
    oauth2:
      client:
        registration:
          community-support-api-client:
            client-id: hmpps-community-support-ipb-ui-client-1
            client-secret: clientsecret

services:
  hmpps-auth-api:
    base-url: http://hmpps-auth:8090/auth
  ndelius-integration-api:
    base-url: http://localhost:9091/delius
  nomis-api:
    base-url: http://localhost:9091/nomis
  manage-users-api:
    base-url: http://localhost:9091/manage-users
    locations:
      auth-user-groups: "/externalusers/{userId}/groups"
      auth-user-details: "/users/{userName}"

logging:
  level:
    uk.gov.justice.digital.hmpps.communitysupportapi.client: DEBUG
