spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: admin_password
  flyway:
    locations: classpath:db/migration,classpath:db/local
    clean-disabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json
      client:
        registration:
          community-support-api-client:
            client-id: ${API_CLIENT_ID:hmpps-community-support-api-1}
            client-secret: ${API_CLIENT_SECRET:clientsecret}
            authorization-grant-type: client_credentials
            client-authentication-method: client_secret_basic
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

services:
  ndelius-integration-api:
    base-url: https://probation-offender-search-dev.hmpps.service.justice.gov.uk
  nomis-api:
    base-url: https://prisoner-search-dev.prison.service.justice.gov.uk

hmpps-auth:
  url: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"

logging:
  level:
    uk.gov.justice.digital.hmpps.communitysupportapi.client: DEBUG
