spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: admin_password
  flyway:
    locations: classpath:db/migration,classpath:db/local
    clean-disabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json
      client:
        registration:
          community-support-api-client:
            provider: hmpps-auth
            client-id: ${API_CLIENT_ID:hmpps-community-support-api-1}
            client-secret: ${API_CLIENT_SECRET:clientsecret}
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

hmpps-auth:
  url: https://sign-in-dev.hmpps.service.justice.gov.uk/auth

logging:
  level:
    org.springframework.security.oauth2: DEBUG

external-api:
  locations:
    delius:
      base-url: http://localhost:<wiremock_port>
    nomis:
      url: https://nomis-api-dev.prison.service.justice.gov.uk/prisoner-search-dev.prison.service.justice.gov.uk/
